<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900' rel='stylesheet' type='text/css'>
<header>
  <h1>YOMIKE!</h1>
</header>
<div class="container">
  <h1>Sign Up</h1>
  <br>

  <% if @errors %>
    <div class="errors"><%= @errors %></div>
  <% end %>

  <form method="post" action="/users">
    <label for="full_name"><span id="name">Full Name:</span></label>
    <input type="text" name="full_name" placeholder="Jill Smith" >
    <span id="name-errors" class="errors"></span>
    <br>
    <label for="email"><span id="email">Email:</span></label>
    <input type="email" name="email" placeholder="e.g., me@example.com">
    <br>
    <label for="password"><span id="password">Password:</span></label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <label for="phone_number">Phone Number:</label>
    <input type="phone_number" name="phone_number" placeholder="(123)456-7890">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
