<div id= "container">
  <h1>Welcome, <%=@user.full_name%></h1>

  <a href="/logout">Log Out</a>

   <% if @message %>
    <div class="messages"><%= @message %></div>
  <% end %>

  <form method= 'POST' action= '/text_mike'>
    <input type= "submit" value= "Yo, Mike, Make Me Some Coffee!">
  </form>
</div>
